@font-face {
    font-family: "d";
    src: url("../PermanentMarker-Regular.ttf");
}
body{
    /* width: 100vw;
    height: 100vh; */
    font-family: "d";
    background-image: url(../img/sunset-1373171_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: center center;
}
body::before{
    content: "";
    display:block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 230, 230,0.7);
}
.row{
    height: 100vh;

}
.col-md-6{
    box-shadow: 3px 3px 5px black;
    border-radius: 5px;
    overflow: hidden;
    
}
.col-md-6 h3{
    background-image: linear-gradient(to right,#eecda3, #ef629f);
}
.form-group{
    width: 80%;
    margin: 0 auto;
}
.form-group{
    position: relative;
}
.form-group i{
    position: absolute;
    top: 42px;
    right: 20px;
    color: red;
    visibility: hidden;
}

.form-group.success > i.fas.fa-check{
    position: absolute;
    top: 42px;
    right: 20px;
    color:green;
    /* z-index: 8888; */
    visibility: visible;
}
.form-group.error  > i.fas.fa-exclamation-circle{
    position: absolute;
    top: 42px;
    right: 20px;
    color: red;
    visibility: visible;
}
.form-group small{
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.o.error small{
    visibility: visible;
}
.btn{
    background-image: linear-gradient(to left,#7b4397 , #dc2430
    );
}
form{
    background-image: url(../img/sunset-1373171_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: center center;
    margin: 0;
}